<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    {% include 'toolbar.html' %}

    <div style="margin-left: 100px;margin-top: 10px;margin-right: 100px;">
        <div style="float: left; width:250px;">
            {% if user %}
            {% include 'profile.html' %}
            {% endif %}

            {% if user %}
            {% include 'logout-button.html' %}
            {% endif %}
        </div>

        {% include 'tweets.html' %}

    </div>
</body>

</html>