<div style="float: left; width:500px; margin-left: 50px;">
    <h1 style="padding: 0px;margin: 0px;">What's happening, {{request.user.username}}?</h1>

    {% for tweet in tweets %}
    <ul>
        <li>
            <span><a href="user/{{ tweet.user.username }}">@{{ tweet.user.username }}</a></span> - <span><a
                    href="tweet/{{ tweet.id }}">{{ tweet.creation_date }}</a></span>
        </li>
        <ul>
            <li>
                {{ tweet.body }}
            </li>
        </ul>
    </ul>
    {% endfor %}

</div>
